.container-home {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-home-logo {
  width: 50rem;
  padding: 5rem 0;
}

.section-home-header {
  padding: 5rem 0;
  font-size: 3rem;
}

.section-home-subHeader {
  font-size: 2.2rem;
  padding: 2rem 0;
}

.section-home-text {
  font-size: 1.6rem;
  padding: 1rem 0;
}
